#home {
    .scnd-home-sect {
        background-color: #000000;
        font-family: $textfontname;

        .container-fluid {
            width: 95%;

            .scnd-sect-title {
                width: 100%;
                padding-top: 100px;
                margin-left: 25px;

                .row {
                    align-items: center;

                    span {
                        color: white;
                        font-size: 1.1em;
                    }

                    .scnd-title {
                        color: white;

                        h3 {
                            width: 77%;
                            font-size: 2.8em;
                            word-spacing: 5px;
                            line-height: 45px;
                        }

                        p {
                            width: 69%;
                            font-size: 1.1em;
                        }
                    }

                }
            }
        }
    }
}

@media (max-width:992px) {
    #home {
        .scnd-home-sect {
            .container-fluid {
                .scnd-sect-title {
                    margin-left: 0;
                    .row {
                        .scnd-title {
                            h3 {
                                width: 100%;
                            }

                            p {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}