.first-contact-sect {
    width: 100%;
    height: fit-content;
    background-image: url('./../../../../src/assets/images/contactus/title-img2.jpg');
    background-size: cover;
    background-position: center;
    font-family: $textfontname;

    .container-fluid {
        width: 95%;
        height: 100%;

        .contact-body {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            color: white;
            padding: 205px 0;

            .left-side-text {
                width: 70%;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1 {
                    font-size: 73px;
                    letter-spacing: 3px;
                    line-height: 1em;
                    font-weight: 500;
                }

                p {
                    font-size: 19px;
                }

                .contact-sosial-acc {
                    display: flex;
                    gap: 25px;

                    a {
                        font-size: 17px;
                        text-decoration: none;
                        color: white;
                    }
                }
            }

            .right-side-form {
                width: 100%;

                form {

                    input,
                    textarea {
                        color: white;
                        background-color: transparent;
                        border: none;
                        border-radius: 0;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.289);
                        padding: 15px 0;
                        box-shadow: none;

                        &::placeholder {
                            color: white;
                        }
                    }

                    textarea {
                        max-height: 60px;
                    }

                    .send-button {
                        width: 100%;
                        display: flex;
                        justify-content: end;
                    }
                }
            }
        }

    }
}

@media (max-width:768px) {
    .first-contact-sect {
        .container-fluid {
            .contact-body {
                padding: 150px 0;

                .left-side-text {
                    width: 100%;

                    h1 {
                        font-size: 50px;
                    }
                }

                .right-side-form {
                    padding-top: 35px;

                }
            }
        }
    }
}