.movie-detail, .details {
    width: 100%;
    font-family: $textfontname;

    .container-fluid {
        width: 96%;

        .page-title {
            color: #959494;
            padding-top: 25px;
        }

        .row {
            width: 100%;
            padding: 90px 0 30px;
            row-gap: 25px;

            .movie-detail-body {
                width: 100%;

                .left-side-image {
                    width: 80%;

                    img {
                        width: 100%;
                    }
                }

                .right-side-about {
                    display: flex;
                    flex-direction: column;

                    .right-top-title {
                        color: black;
                        padding: 0 30px 40px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.349);

                        h1 {
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 55px;
                            letter-spacing: 2px;
                        }

                        .price {
                            font-size: 18px;
                        }
                    }

                    .right-center {
                        padding: 40px 30px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.349);

                        p {
                            font-size: 18px;
                        }

                        .right-center_bottom {
                            padding: 15px 0;

                            .add-cart {
                                padding: 5px 20px;
                                background-color: black;
                                border-radius: 0;
                                color: white;
                                border: 2px solid black;

                                &:hover {
                                    background-color: transparent;
                                    color: black;
                                }
                            }

                            .fav-btn {
                                color: black;
                                font-size: 25px;
                                border-radius: 2px;
                                border: 2px solid black;

                                span {
                                    font-size: 16px;
                                    padding-left: 7px;
                                }

                                .empty-hover {
                                    .fill {
                                        display: none;
                                    }

                                    &:hover {
                                        .fill {
                                            display: inline;
                                        }

                                        .empty {
                                            display: none;
                                        }
                                    }
                                }

                            }

                            .back-pg {
                                border: none;
                                border-bottom: 2px solid black;
                                border-radius: 0;
                            }
                        }
                    }

                    .right-bottom {
                        padding: 40px 30px;

                        p {
                            color: #9C9694;
                            font-size: 18.5px;

                            b {
                                color: black;
                                font-weight: 500;
                            }

                            .textbox-ctg {
                                span {
                                    background-color: #F1F1F1;

                                    &:hover {
                                        background-color: #EBBB9D;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// ! =================REVIEW-SASS=====================

.reviews {
    .reviews-title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.349);

        p {
            font-size: 20px;
            color: rgb(91, 91, 91);
            padding: 0 20px;
            border-left: 1px solid rgba(0, 0, 0, 0.349);
        }
    }

    .reviews-body {
        .reviews-body_title {
            padding: 15px 0;

            p {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 30px;
            }
        }

        .review-user {
            .row {
                padding: 0 0 25px;

                .review-text {
                    .user-title {
                        color: gray;
                        font-size: 14px;

                        b {
                            font-size: 18px;
                            color: black;
                        }
                    }

                    .text {
                        font-size: 17.5px;
                    }
                }
            }
        }
    }
}

.related-movies {
    padding-bottom: 70px;

    .related-movies_title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.349);

        p {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .related-movies-body {
        @include centerflex();
    }
}

@media (max-width:768px) {
    .movie-detail {
        .container-fluid {
            .row {
                padding: 45px 0;

                .movie-detail-body {
                    .left-side-image {
                        width: 100%;
                    }


                }
            }
        }
    }
}

@media (max-width:426px) {
    .movie-detail {
        .container-fluid {
            @include centerflex();
            flex-direction: column;

            .row {
                width: 100%;

                .movie-detail-body {
                    .right-side-about {
                        .right-top-title {
                            padding: 30px 0;

                            h1 {
                                font-size: 35px;
                            }
                        }

                        .right-center {
                            padding: 40px 0;

                            p {
                                font-size: 16px;
                            }

                            .right-center_bottom {
                                flex-wrap: wrap;

                                .add-cart {
                                    padding: 10px 15px;
                                }
                            }
                        }

                        .right-bottom {
                            padding: 40px 0;

                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:376px) {
    .movie-detail {
        .container-fluid {
            .row {
                .movie-detail-body {
                    .right-side-about {
                        .right-center {
                            .right-center_bottom {
                                .card-quantity {
                                    button {
                                        padding: 10px 12px;
                                    }
                                }

                                .add-cart {
                                    padding: 10px 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .reviews {
        .reviews-title {
            p {
                font-size: 18px;
            }
        }

        .reviews-body {
            .reviews-body_title {

                p {
                    font-size: 20px;
                }
            }
        }
    }
}