.dashboard {
    .categories-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ctg-list-body{
            width: 55%;
            @include centerflex();
            flex-direction: column;
        }

        .ctg-add-body {
            width: 100%;
            @include centerflex();
            flex-direction: column;

            form {
                input {
                    box-shadow: none;
                    outline: none;
                    border-radius: 0;
                    border: 1px solid grey;
                }
            }
        }
    }
}

.list-btn {
    border-radius: 0;
}

.add-btn {
    width: 100%;
    display: flex;
    justify-content: end;
}

.btn-add {
    font-size: 17px;
    border-radius: 0;
}

@media (max-width:768px) {
    .dashboard {
        .categories-list {
            .ctg-add-body {
                form {
                    width: 95%;

                }
            }

            .ctg-list-body {
                width: 95%;

            }
        }
    }

}