.dashboard {
    .categories-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ctg-list-body {

            .add-btn {
                width: 100%;
                display: flex;
                justify-content: end;


            }

            .list {
                .list-group {
                    .list-group-item {
                        .list-btns {
                            .list-btn {
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }


    }
}

.btn-add {
    font-size: 15px;
    border-radius: 0;
}

@media (max-width:768px) {
    .dashboard {
        .categories-list {

            .ctg-add-body {
                width: 95%;
            }

            .ctg-list-body {
                width: 95%;

            }
        }
    }

}