.dashboard {
    .movie-list {
        width: 100%;
        @include centerflex();
        flex-direction: column;

        .movie-list-body {
            width: 80%;
            @include centerflex();
            flex-direction: column;

        }
    }

    .movies-list-add {
        width: 100%;

        .movie-add-body {
            @include centerflex();
            flex-direction: column;

            form {
                input,
                textarea {
                    box-shadow: none;
                    outline: none;
                    border-radius: 0;
                    border: 1px solid grey;
                    width: 100%;
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                textarea {
                    height: 160px;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .dashboard {
        .movie-list {
            width: 100%;

            .movie-list-body {
                width: 100%;

                .list-group {
                    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.215);

                    .list-group-item {
                        border: none;
                        border-bottom: 1px solid rgba(128, 128, 128, 0.244);
                    }
                }
            }
        }

        .movies-list-add {
            .movie-add-body {
                form {
                    width: 95%;
                }
            }
        }
    }
}

@media (max-width:376px) {
    .dashboard {
        .movie-list {
            width: 100% !important;

            .movie-list-body {
                width: 100%;

                .list {
                    width: 100%;
                }
            }
        }
    }
}