.checkout-page {
    width: 100%;
    font-family: $textfontname;
    @include centerflex();

    .container-fluid {
        width: 95%;

        .row {
            width: 100%;

            .checkout-body {
                width: 100%;
                @include centerflex();

                .checkout-info {
                    width: 85%;

                    form {
                        input {
                            box-shadow: none;
                            outline: none;
                            border-radius: 0;
                            border: 1px solid grey;
                        }

                        input[type="number"]::-webkit-inner-spin-button,
                        input[type="number"]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        .dropdown-toggle {
                            border: 1px solid grey;
                            border-radius: 0;
                        }

                        .dropdown-menu {
                            .dropdown-item:active {
                                background-color: #e9ecef !important;
                                color: black;
                            }
                        }

                        .payment-method {
                            .card-cash-btn {
                                border: 2px solid black;
                                border-radius: 0;

                                &:hover {
                                    background-color: black;
                                    color: white;
                                }
                            }
                        }

                        .btn-submit {
                            border: 2px solid black;
                            border-radius: 0;
                            padding: 10px 25px;

                            &:hover {
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }

                .basket-total {
                    width: 100%;
                    margin-top: 25px;
                }
            }
        }
    }
}

.active-btn {
    @include button();
    background-color: black;
    color: white;
}

@media (max-width:768px) {
    .checkout-page {
        .container-fluid {
            width: 100%;
            @include centerflex();
            flex-direction: column;

            .row {
                .checkout-body {
                    .checkout-info {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width:360px) {
    .checkout-page {
        .container-fluid {
            .row {
                .right-side {
                    .checkout-info {
                        form {
                            .payment-method {
                                flex-wrap: wrap;

                                .card-cash-btn {
                                    margin: 5px 0 !important;

                                }
                            }

                            .card-on-delivery{
                                .credit-card{
                                    .rccs{
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}