.checkout-page {
    width: 100%;
    font-family: $textfontname;

    .container-fluid {
        width: 95%;

        .checkout-title {}

        .row {
            width: 100%;

            .checkout-body {
                width: 80%;

                .checkout-info {
                    b {}

                    form {
                        input {
                            box-shadow: none;
                            outline: none;
                            border-radius: 0;
                            border: 1px solid grey;
                            // width: 100%;
                        }

                        input[type="number"]::-webkit-inner-spin-button,
                        input[type="number"]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        .dropdown-toggle {
                            border: 1px solid grey;
                            border-radius: 0;
                        }

                        .dropdown-menu {

                            .dropdown-item:active {
                                background-color: #e9ecef !important;
                                color: black;
                            }
                        }

                        .payment-method {
                            .card-cash-btn {
                                border: 2px solid black;
                                border-radius: 0;

                                &:hover {
                                    background-color: black;
                                    color: white;
                                }
                            }
                        }

                        .btn-submit {
                            border: 2px solid black;
                            border-radius: 0;
                            padding: 10px 25px;
                            &:hover{
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.active-btn {
    @include button();
    background-color: black;
    color: white;
}