.first-about-sect {
    .ffirst-about-sect {
        width: 100%;
        height: 85vh;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .fscnd-about-sect {
        font-family: $textfontname;
        padding: 130px 0;

        .container-fluid {
            width: 93%;

            .about-mini-title {
                font-weight: 500;
                font-size: 19px;
                text-transform: uppercase;
            }

            .row {
                row-gap: 25px;
                align-items: center;

                .about-textbox {
                    color: black;

                    p {
                        width: 94%;
                        font-size: 19px;
                    }

                    h1 {
                        text-transform: uppercase;
                        font-weight: 500;
                        width: 80%;
                        font-size: 63px;
                        letter-spacing: 3px;
                        line-height: 1em;
                        word-spacing: 2px;
                    }
                }
            }
        }
    }

    .fthrd-about-sect {
        width: 100%;

        .container-fluid {
            .row {
                .brands-icons {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 30px 0;
                }
            }
        }
    }

}


@media (max-width:426px) {
    .first-about-sect {
        .fscnd-about-sect {
            .container-fluid {
                .row {
                    .about-textbox {
                        h1 {
                            width: 100%;
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}