.basket-page {
    width: 100%;
    font-family: $textfontname;

    .container-fluid {
        width: 96%;

        .basket-title {
            margin: 50px 0;
            font-size: 25px;
            font-weight: 500;
            letter-spacing: -1px;
        }

        .row {
            .basket-prod-sect {
                margin-bottom: 100px;
                width: 100%;
                // box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.408);
                border-radius: 3px;
                @include centerflex();

                .basket-body {
                    width: 100%;

                    .basket-body_title {
                        width: 100%;
                        border-bottom: 2px solid rgba(128, 128, 128, 0.133);
                        padding: 7px 0;
                    }

                    .card {
                        width: 100%;
                        border: none;
                        border-bottom: 2px solid rgba(128, 128, 128, 0.133);
                        border-radius: 0;

                        .row {
                            width: 100%;
                            align-items: center;

                            .card-img {
                                width: 85%;
                                object-fit: contain;

                                img {
                                    width: 100%;
                                }
                            }

                            .card-body {
                                width: 98%;

                                .card-text {
                                    font-weight: 500;
                                    font-size: 19px;
                                }

                                .sale-text {
                                    font-size: 17px;
                                    padding: 0 7px;
                                    border-left: 1px solid rgba(128, 128, 128, 0.407);
                                    color: $textcolortwo;
                                    margin: 0 5px;
                                }

                                .new-text {
                                    @extend .sale-text;
                                    color: #253C1A;
                                }

                                .card-body-frst {
                                    width: 100%;
                                    @include flex();

                                    .card-title {
                                        font-size: 24px;
                                        font-weight: 600;
                                    }

                                    .card-price {
                                        font-size: 22px;
                                        font-weight: 500;
                                    }
                                }

                                .card-body-bottom {
                                    @include flex();

                                    .card-quantity {
                                        width: 120px;
                                        border: 1px solid black;
                                        @include flex();

                                        .btn {
                                            border: none;
                                            padding: 7px 15px;
                                            border-radius: 0;
                                        }

                                        .count {
                                        }
                                    }

                                    .card-remove-fav {
                                        display: flex;

                                        .btn {
                                            padding: 0;
                                            display: flex;
                                            align-items: center;
                                            border-radius: 0;
                                            gap: 7px;
                                            border: none;
                                            color: rgb(109, 109, 109);
                                        }

                                        .fav-btn {
                                            padding-right: 10px;

                                            &:hover{
                                                color: $textcolortwo;
                                            }

                                        }

                                        .del-btn {
                                            border-left: 1px solid rgba(128, 128, 128, 0.362);
                                            padding-left: 11px;

                                            &:hover{
                                                color: red;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .basket-total {}
            }
        }
    }
}

.sale {
    color: grey;
    font-size: 13px;
}