.scnd-blog-sect {
    font-family: $textfontname;
    width: 100%;
    background-color: var(--bgColorMain);

    .container-fluid {
        .blog-page-title {
            margin: 50px 15px;
            display: flex;
            justify-content: space-between;

            .search-bar {
                .input-group {
                    border-radius: 0;
                    border: 2px solid;

                    input {
                        background-color: var(--bgColorMain);
                        color: var(--textColor);
                        border-radius: 0;
                        border: none;
                        box-shadow: none;

                        &::placeholder {
                            color: var(--textColor);
                        }
                    }

                    button {
                        border: none;
                        @include centerflex();
                        color: var(--textColor);
                    }
                }
            }
        }

        .blog-page-body {
            width: 100%;
            padding: 50px 0 170px;

            .row {
                row-gap: 30px;
            }
        }
    }
}

@media (max-width:426px) {
    .scnd-blog-sect {
        .blog-page-title {
            text-align: center;
            margin: 50px 0;
            flex-direction: column;

            .search-bar {
                width: 100%;
            }
        }
    }
}