.footer {
    background-color: black;
    font-family: $textfontname;

    .container {
        padding-bottom: 50px;

        .row {
            padding: 100px 0 50px;
            border-bottom: 1px solid #3b3b3b;

            .col {
                .nav {
                    .nav-item {
                        .nav-link {
                            font-size: 12px;
                            font-weight: 500;
                            letter-spacing: 0.1em;
                            display: flex;
                            align-items: center;
                            transition: all 0.3s ease;
                            color: white;

                            &:hover {
                                color: $textcolor;
                            }

                            .lang-btn {
                                color: white;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }

        .footer-bottom {
            width: 100%;
            color: white;

            .footer-bottom-left {
                .list-unstyled {
                    li {
                        .link-body {
                            transition: all 0.3s ease;
                            color: white;

                            &:hover {
                                color: $textcolor;
                            }
                        }
                    }
                }

                p {
                    font-size: 12px;
                    color: #888888;
                    text-transform: uppercase;
                    letter-spacing: 0.10em;
                }
            }

            .footer-bottom-right {
                width: 50%;

                .map-location {
                    text-decoration: none;
                    color: white;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $textcolor;
                    }
                }

                form {
                    width: 50%;

                    input {
                        width: 95%;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: white;
                        padding: 10px 0;
                    }

                    button {
                        color: white;
                        font-size: 20px;
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .footer {
        .container {
            .footer-bottom {
                flex-direction: column;
                flex-wrap: wrap;

                .footer-bottom-left {
                    width: 100%;
                }

                .footer-bottom-right {
                    width: 100%;
                    flex-direction: column;
                    flex-wrap: wrap;

                    .map-location {
                        width: 100%;
                        padding: 40px 0;
                    }

                    form {
                        width: 100%;

                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}