.active {
    color: $textcolor !important;
}

.other-header {
    position: static;
    width: 100%;
    z-index: 1000;
    font-family: $textfontname;
    background-color: black;

    nav {
        .container-fluid {
            padding: 10px 0;
        }
    }
}

.scroll {
    @extend .other-header;
    position: fixed;
    animation: header_Animate 0.7s;

    nav {
        .container-fluid {
            padding: 1px 0;
        }
    }
}

.header {
    width: 100%;
    position: absolute;
    z-index: 1000;
    font-family: $textfontname;

    nav {
        width: 100%;
        height: fit-content;
        background-color: transparent;
        transition: all 0.4s ease;

        &:hover {
            background-color: #000000;
        }

        .container-fluid {
            padding: 20px 0;
            width: 95%;

            .navbar-toggler {
                @include button();
                color: white;
                font-size: 1.7em;
            }

            .collapse {
                .navbar-nav {
                    padding-left: 60px;
                    gap: 25px;

                    .nav-item {
                        @include flex();

                        .nav-link {
                            color: white;
                            font-size: 0.8em;
                            font-weight: 500;
                            position: relative;
                            text-transform: uppercase;

                            &::after {
                                content: '';
                                position: absolute;
                                background-color: $textcolor;
                                width: 0;
                                height: 1px;
                                left: 0;
                                bottom: 0;
                                transition: all 0.4s ease;
                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }

                        // !======================================================================================

                        .collapse-right-arr {
                            display: none;
                        }
                    }
                }

                .nav-right-side {
                    @include flex();
                    justify-content: start;
                    gap: 12px;

                    .get-basket-btn {
                        @include button();
                        border: 2px solid;
                        color: white;
                        font-weight: $boldfontweight;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: white;
                            color: black;
                        }

                        span {
                            font-weight: $thinfontweight;
                        }
                    }

                    .get-fav-btn {
                        border: none;

                        .fav-btn {
                            color: white;
                            font-size: 23px;
                            transition: all 0.3s ease;

                            &:hover {
                                color: $textcolor;
                            }

                        }
                    }

                    .account-btn {
                        @include button();
                        color: white;
                        font-size: 20px;
                        padding-left: 20px;
                        border-left: 1px solid rgba(255, 255, 255, 0.333);

                        .enter-account {
                            display: none;
                        }

                        &:hover {
                            color: $textcolor;
                        }
                    }
                }
            }
        }
    }
}

nav {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    transition: all 0.4s ease;

    &:hover {
        background-color: #000000;
    }

    .container-fluid {
        width: 95%;

        .navbar-toggler {
            @include button();
            color: white;
            font-size: 1.7em;
        }

        .collapse {
            .navbar-nav {
                padding-left: 60px;
                gap: 25px;

                .nav-item {
                    @include flex();

                    .nav-link {
                        color: white;
                        font-size: 0.8em;
                        font-weight: 500;
                        position: relative;
                        text-transform: uppercase;

                        &::after {
                            content: '';
                            position: absolute;
                            background-color: $textcolor;
                            width: 0;
                            height: 1px;
                            left: 0;
                            bottom: 0;
                            transition: all 0.4s ease;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }

                    // !======================================================================================

                    .collapse-right-arr {
                        display: none;
                    }
                }
            }

            .nav-right-side {
                @include flex();
                justify-content: start;
                gap: 12px;

                .get-basket-btn {
                    @include button();
                    border: 2px solid;
                    color: white;
                    font-weight: $boldfontweight;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: white;
                        color: black;
                    }

                    span {
                        font-weight: $thinfontweight;
                    }
                }

                .get-fav-btn {
                    border: none;

                    .fav-btn {
                        color: white;
                        font-size: 22px;
                        transition: all 0.3s ease;

                        &:hover {
                            color: $textcolor;
                        }

                    }
                }

                .account-btn {
                    @include button();
                    color: white;
                    font-size: 20px;
                    padding-left: 20px;
                    border-left: 1px solid rgba(255, 255, 255, 0.333);

                    .enter-account {
                        display: none;
                    }

                    &:hover {
                        color: $textcolor;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    .header {
        nav {
            background-color: black;

            .container-fluid {
                padding: 10px 0;

                .collapse {
                    .navbar-nav {
                        padding-left: 0;
                        gap: 0;

                        .nav-item {
                            .nav-link {
                                width: 98%;
                                @include flex();

                                .collapse-right-arr {
                                    display: block;
                                    font-size: 20px;
                                    color: white;
                                }
                            }
                        }
                    }

                    .nav-right-side {
                        .account-btn {
                            .enter-account {
                                display: block;
                                font-size: 0.8em;
                            }
                        }
                    }
                }
            }
        }
    }

    nav {
        background-color: black;

        .container-fluid {
            .collapse {
                .navbar-nav {
                    padding-left: 0;
                    gap: 0;

                    .nav-item {
                        .nav-link {
                            width: 98%;
                            @include flex();

                            .collapse-right-arr {
                                display: block;
                                font-size: 20px;
                                color: white;
                            }
                        }
                    }
                }

                .nav-right-side {
                    .account-btn {
                        .enter-account {
                            display: block;
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:376px) {
    nav {
        .container-fluid {
            .collapse {
                .nav-right-side {
                    .account-btn {
                        .ant-space {
                            .ant-space-item {
                                .name {
                                    display: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes header_Animate {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}